#NewItem-Inputbg {
    z-index: 9;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(113, 110, 110, 0.689);
    left: 0;
    top: 0;
}


.NewItem-Input {
    z-index: 10;
    height: "fit-content";
    width: 70%;
    position: absolute;
    background-color: white;
    margin: 7em 15%;
    left: 0;
    top: 0;
    border-radius: 5px;
    padding: 2em;
}

label {
    cursor: pointer;
}

.NewItem-newInput {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    margin-top: 2em;
}

textarea,
input {
    font-family: 'Raleway', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

input {
    margin: 0.5em 0px;
    border: 1px solid rgb(95, 141, 211);
    padding: 0.5em;
    font-size: 16px;
}

input:focus {
    outline: none !important;
    border: 1px solid rgb(95, 141, 211);
    box-shadow: 0 0 10px #719ECE;
}

textarea {
    margin: 0.5em 0px;
    border: 1px solid rgb(95, 141, 211);
    padding: 0.5em;
    font-size: 16px;
}

textarea:focus {
    outline: none !important;
    border: 1px solid rgb(95, 141, 211);
    box-shadow: 0 0 10px #719ECE;
}